<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>about</title>
  <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body>
  <div id="about">
    <div class="profile">
      <h2>Profile</h2>
      <div class="profile-img">
        <img src="../public/images/about/profile/profile.jpg" alt="profile-img">
      </div>
      <ul>
        <li>
          <img src="../public/images/about/icon/home.png" alt="location">
          <p>Sungsan-lo 4gil 78, Seoul, Korea</p>
        </li>
        <li>
          <img src="../public/images/about/icon/mail.png" alt="mail">
          <a href="mailto:pyungkang1004@gmail.com">pyungkang1004@gmail.com</a>
        </li>
        <li>
          <img src="../public/images/about/icon/github.png" alt="github">
          <a href="https://github.com/PyungkangHong094" target="_blank">PKHong</a>
        </li>
      </ul>
    </div>
    <div class="education">
      <h2>education</h2>
      <ul>
        <li>
          <img src="../public/images/about/education/sdhs.png" alt="sdhs-logo">
          <h3>Stony Brook University |&nbsp 2018. 09 ~ Now</h3>
          <p style ="color: lightgray">Computer Science</p>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>