<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Activity</title>
  <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body>
  <div id="activity">
    <ul>
      <li>
        <h3>SIGMA<span>2018. 01 ~ 2019.5</span></h3>
        <p>SIGMA KOREA & USA IT 전공 동아리</p>
        <img src="../public/images/activity/Sigma.jpg" alt="activity-img">
      </li>
      <li>
        <h3 class="kor">App_A <span>2019.9 ~ 2020.12</span></h3>
        <p>SUNY KOREA App Artist IT 전공 동아리</p>
        <img src="../public/images/activity/ss.jpg" alt="activity-img">
      </li>
      <li>
        <h3 class="kor">CoDer<span>2020.1 ~ 2020.6</span></h3>
        <p>CoDer은 Python을 학생들에게 수학적 코딩을 가르치는 부서</p>
        <img src="../public/images/activity/coder.jpg" alt="activity-img">
      </li>
      <li>
        <h3 class="kor">SUNY KOREA 네트워크<span>2018. 12</span></h3>
        <p>SDR+LTE</p>
        <img src="../public/images/activity/srs.PNG" alt="activity-img">
        <img src="../public/images/activity/srs1.PNG" alt="activity-img">
      </li>
      
    </ul>
  </div>
</body>
</html>